<footer>                    
    <h6 class="rodape">Game Mania@ é uma marca registrada de Game Mania COMÉRCIO ELETRÔNICO S/A | CNPJ: 00.000.000/0001-00 | 
        Todos os direitos reservados. Os preços anunciados neste site ou via e-mail promocional podem ser alterados sem prévio aviso.
        A Game Mania não é responsável por erros descritivos. As fotos contidas nesta página são meramente ilustrativas do produto e 
        podem variar de acordo com o fornecedor/lote do fabricante. Este site trabalha 100% em criptografia SSL.</h6>
</footer>