#wrapper{
    height: 200vh;
}


#header{
    box-sizing: border-box;
    min-height: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: #03002B;  
}

.column{
    width: 60%;
    flex-grow: 1;
}

.left{    
    background-position: top;
    height: 200px;
    margin-top: 10px;
}

.left img{
    max-width: 100%;
}

.right{ 
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}


.clicar-botao{ /* mexe no botão pesquisar*/
    padding: 0 4px;
    cursor: pointer;
    border-radius: 4px;
}

/* INICIO SOBRE */

.month{
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-around;
    
}


.month img{
    width: 100%;
    border-radius: 4px;
}

.month div h2{
    font-size: 24px;
}

/* FIM ABOUT*/

.header-dois{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 24px; 
    font-weight: bold; 
}

.header-dois a{
    text-decoration: none;
    color: #DDD;
    padding: 3px;
}

/* INICIO CARDS */

.mostsale{
    display: flex;    
    align-items: center; /* posicionamento da frase jogos mais vendidos*/
    width: 100%;
    display: flex;    
}
.mostsale img{
    margin-left: 1%;
    margin-right: 1%;
    width: 19%;
}
.weeksale{
    display: flex;
    align-items: center; /* posicionamento da frase ofertas da semana*/
    width: 100%;
    display: flex;    
}
.weeksale img{
    margin-left: 1%;
    margin-right: 1%;
    width: 19%;
}

footer{
    width: 100%;
    background-color:var(--background);    
    display: flex;
    justify-content: center;    
    color: #FFFFFF;
    text-align: center;
    margin-top: 35px;
}

.rodape {
    font-size: 10px;
}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}

.novidades{
    display: flex;
    justify-content:space-evenly;
    font-size: 22px;  
    font-weight: bold;
}

.app-buttons{
    box-sizing: border-box;
    text-align: center;
}
.app-buttons img{
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 10px;
}
.buttonhand{
    cursor: pointer;
}

/* A PARTIR DAQUI É TUDO NOVO */

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}
