<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Game Mania</title>

</head>
<body>
    
    <div id="wrapper">
        <!-- ÁREA HEADER -->
    <header>
        <div id="header">
            <!-- Área esquerda -->
            <div class="column left">
                <img src="/assets/img/logo.png" alt="Logo Game Mania">              
            </div>
            <!-- Fim Área esquerda -->     

            <!-- Área direta -->
            <div class="column right"> 
                <nav id="nav">             
                <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                        <span id="hamburguer"></span>
                </button>
                 <ul id="menu" role="menu">
                    <li><a href=index.html>Home</a></li>
                    <li><a href="/">Produtos</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    </ul><br><br>
                </nav>  
                <div class="search">
                    <input placeholder="O que você procura?" type="text" name="search" />
                        <button class="clicar-botao" value="Pesquisar">Pesquisar</button>                    
                </div>                
            </div>
        </div>
            <!-- Fim Área direita -->            
    </header><br><br>
 

        <!-- FIM HEADER -->      
        <section id="jogodomes" class="month">
            <div>
                <h2>Jogo do mês: Stray</h2>
                <br><br>
                <p>Stray é um jogo de aventura felina em terceira pessoa que se 
                    passa nos detalhados becos iluminados por néon de uma 
                    cidade futurista e nos obscuros locais de seu submundo.
                    <br><br>
                    Veja o mundo pelos olhos de um gato de rua e interaja com o 
                    ambiente de maneiras divertidas.</p>
            </div>
            <img src="/assets/img/banner.jpg" alt="Capa do jogo Stray">
        </section><br><br>
        <section>
            <ul class="header-dois">
                <li>
                    <a href="#" class="borda1">Consoles</a>
                </li>
                <li>
                    <a href="#" class="borda1">PC Gamer</a>
                </li>
                <li>
                    <a href="#" class="borda1">Jogos</a>
                </li>
                <li>
                    <a href="#" class="borda1">Periféricos</a>
                </li>
                <li>
                    <a href="#" class="borda1">Smartphones</a>
                </li>
            </ul>

        </section><br>
    <div>
        <section id="maisvendidos" class="mostsale">            
            <h2>Jogos mais vendidos</h2><br>                
                <img src="/assets/img/cod.png" alt="Foto"><br>
                <img src="/assets/img/fifa.png" alt="Foto"><br>
                <img src="/assets/img/swars.png" alt="Foto"><br>
                <img src="/assets/img/ering.png" alt="Foto">  <br>         
        </section><br>
        <section id="ofertasdasemana" class="weeksale">
            <h2>Melhores da semana</h2> <br>
                    <img src="/assets/img/semanagamer.png" alt="Foto"><br>
                    <img src="/assets/img/promo.png" alt="Foto"><br>
                    <img src="/assets/img/promo2.png" alt="Foto"><br>
                    <img src="/assets/img/combogamer.png" alt="Foto"> <br>     
        </section><br><br>
    </div>
    <form id="news" class="novidades">
            Newsletter & Ofertas
            <input placeholder="Insira seu nome" type="text" name="nome" />
            <input placeholder="Insira seu e-mail" type="text" name="email" />
            <button onclick="cadastrarNewsletter()" class="clicar-botao" value="Pesquisar">Cadastrar</button>
    </form><br><br>

    <div class="get-app-panel">
            
        <div class="app-buttons">
            <p>Mídias sociais.</p>
            <a href="#">
                <img src="/assets/img/facebook.svg" alt="Botão Facebook">
            </a>
            <a href="#">
                <img src="/assets/img/instagram.png" alt="Botão Instagram">
            </a>
        </div><br>

    <div class="get-app-panel">
            
        <div class="app-buttons">
            <p>Baixe nosso aplicativo.</p>
            <a href="#">
                <img src="/assets/img/appstore.png" alt="Baixe na AppStore">
            </a>
            <a href="#">
                <img src="/assets/img/googleplay.png" alt="Baixe na PlayStore">
            </a>
        </div>

    <footer>                    
        <h6 class="rodape">Game Mania@ é uma marca registrada de Game Mania COMÉRCIO ELETRÔNICO S/A | CNPJ: 00.000.000/0001-00 | 
            Todos os direitos reservados. Os preços anunciados neste site ou via e-mail promocional podem ser alterados sem prévio aviso.
            A Game Mania não é responsável por erros descritivos. As fotos contidas nesta página são meramente ilustrativas do produto e 
            podem variar de acordo com o fornecedor/lote do fabricante. Este site trabalha 100% em criptografia SSL.</h6>
    </footer>