<header>
    <div id="header">
        <!-- Área esquerda -->
        <div class="column left">
            <img src="/assets/img/logo.png" alt="Logo Game Mania">              
        </div>
        <!-- Fim Área esquerda -->     

        <!-- Área direta -->
        <div class="column right"> 
            <nav id="nav">             
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                    <span id="hamburguer"></span>
            </button>
             <ul id="menu" role="menu">
                <li><a href=index.html>Home</a></li>
                <li><a href="/">Produtos</a></li>
                <li><a href="">Blog</a></li>
                <li><a routerLink="/login">Login</a></li>
                </ul><br><br>
            </nav>  
            <div class="search">
                <input placeholder="O que você procura?" type="text" name="search" />
                    <button class="clicar-botao" value="Pesquisar">Pesquisar</button>                    
            </div>                
        </div>
    </div>
        <!-- Fim Área direita -->            
</header><br><br>